<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrey Krisanov · CTO @ ПланФакт · Consulting Engineering Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <style>
        img.avatar {
            margin-top: 48px;
            border-radius: 50%;
            width: 96px;
            height: 96px;
            display: block;
            object-fit: contain;
            object-position: initial;
            filter: none;
        }
    </style>
</head>

<body>
    <header>
        <img class="avatar" src="/images/photo.webp" alt="Andrey Krisanov">
        <h2>Andrey Krisanov</h2>
        <h3>CTO @ <a href="https://planfact.io">ПланФакт</a></h3>
        <h4>Consulting Engineering Manager</h4>
    </header>
    <main>
        ⇩
        <div class="links">
            <p>🤝 <a class="button" href=" https://www.linkedin.com/in/akrisanov/">LinkedIn</a></p>
            <p>🐙 <a class="button" href="https://github.com/akrisanov">GitHub</a></p>
            <p>🐦 <a class="button" href="https://x.com/_akrisanov">Twitter</a></p>
            <p>🐘 <a class="button" href="https://mastodon.social/@akrisanov">Mastodon</a></p>
            <p>💬 <a class="button" href="https://t.me/akrisanov">Telegram</a></p>
            <p>📝 <a class="button" href="https://t.me/+elt2rCOIvzQzYWFi ">Бортовые заметки</a></p>
        </div>
    </main>
    <footer>
        <p><i>Let's build something great together!<i></p>
    </footer>
</body>

</html>
