{% extends "base.html" %}

{% block title -%}
  {%- if page.extra.seo_title -%}
    {{ page.extra.seo_title }}
  {%- else -%}
    {{ page.title }} — {{ config.title }}
  {%- endif -%}
{%- endblock title %}

{% block description -%}
  {%- if page.description -%}
    {{ page.description }}
  {%- else -%}
    {{ config.description }}
  {%- endif -%}
{%- endblock description %}

{% block og_title -%}
  {%- if page.extra.seo_title -%}
    {{ page.extra.seo_title }}
  {%- else -%}
    {{ page.title }} — {{ config.title }}
  {%- endif -%}
{%- endblock og_title %}

{% block og_description -%}
  {%- if page.description -%}
    {{ page.description }}
  {%- else -%}
    {{ config.description }}
  {%- endif -%}
{%- endblock og_description %}

{% block og_image -%}
  {%- if page.extra.static_thumbnail -%}
    {{ config.base_url }}{{ page.extra.static_thumbnail }}
  {%- elif page.static_thumbnail -%}
    {{ config.base_url }}{{ page.static_thumbnail }}
  {%- else -%}
    {{ config.base_url }}/images/userpic-square.jpg
  {%- endif -%}
{%- endblock og_image %}

{% block og_image_width -%}
  {%- if page.extra.static_thumbnail or page.static_thumbnail -%}
    1200
  {%- else -%}
    784
  {%- endif -%}
{%- endblock og_image_width %}

{% block og_image_height -%}
  {%- if page.extra.static_thumbnail or page.static_thumbnail -%}
    630
  {%- else -%}
    784
  {%- endif -%}
{%- endblock og_image_height %}

{% block twitter_title -%}
  {%- if page.extra.seo_title -%}
    {{ page.extra.seo_title }}
  {%- else -%}
    {{ page.title }} — {{ config.title }}
  {%- endif -%}
{%- endblock twitter_title %}

{% block twitter_description -%}
  {%- if page.description -%}
    {{ page.description }}
  {%- else -%}
    {{ config.description }}
  {%- endif -%}
{%- endblock twitter_description %}

{% block content %}
<article class="e2-note e2-note-single">
  <header class="note-header">
    <h1 class="note-title">{{ page.title }}</h1>
  </header>

  <div class="e2-text note-body">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}
